In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/haul_catch_years_clean.csv")
df['HAUL_DATE'] = pd.to_datetime(df['HAUL_DATE'])
df.groupby(['HAUL_DATE']).sum()

,NET_IN_LAT,NET_IN_LONG,WOLF EEL YOY,SABLEFISH YOY,ARROWTOOTH FLOUNDER YOY,PACIFIC SANDDAB YOY,SPECKLED SANDDAB YOY,SCULPIN YOY,NORTHERN ANCHOVY YOY,REX SOLE YOY,...,PURPLE-STRIPED JELLY,MOON JELLY,BERRYTEUTHIS,FRIED EGG JELLY,BLOB OCTOPUS,BOREAL CLUBHOOK SQUID,SUNBEAM LAMPFISH,ARGONAUT,TOTAL ROCKFISH YOY,TOTAL KRILL
HAUL_DATE,,,,,,,,,,,,,,,,,,,,,
2009-05-20,36.8332,121.9688,0,0,0,0,2,4,0,2,...,0,0,0,0,0,NaN,0,0,25,8216.0
2009-05-21,109.9254,366.0379,0,0,0,2,13,0,0,1,...,2,0,0,0,0,NaN,0,0,60,64804.0
2009-05-22,147.2672,488.7847,0,0,0,3,13,0,0,0,...,0,3,0,0,0,NaN,0,0,99,58497.0
2009-05-23,185.4435,612.9496,0,0,0,15,12,0,0,0,...,3,100,0,0,0,NaN,0,0,57,324057.0
2009-05-24,187.0835,615.1548,0,0,0,1,6,2,0,0,...,0,0,1,0,0,NaN,0,0,121,975952.0
2009-05-25,113.4840,369.8813,0,0,0,1,0,1,0,1,...,0,25,0,0,0,NaN,0,0,116,834544.0
2009-05-26,115.0695,371.0962,0,0,0,0,3,0,0,0,...,0,3,0,0,0,NaN,0,0,177,308272.0
2009-05-27,38.1628,123.1535,0,0,0,5,3,1,0,0,...,1,0,0,0,0,NaN,0,0,30,105096.0
2009-05-29,75.2955,245.7299,0,0,0,5,9,9,0,8,...,0,3,0,0,0,NaN,0,0,141,689148.0
2009-05-30,188.5766,614.8436,0,0,0,3,18,10,0,7,...,0,4,0,0,0,NaN,0,0,185,302109.0
2009-05-31,151.9430,493.2860,0,0,0,1,0,0,0,0,...,0,3,0,0,0,NaN,0,0,125,375420.0
2009-06-01,116.7387,371.8494,0,0,0,2,2,0,0,0,...,0,0,0,0,0,NaN,0,0,171,158170.0
2009-06-02,79.6490,249.0925,0,0,0,0,1,0,0,1,...,0,0,0,0,0,NaN,0,0,39,48540.0
2009-06-03,39.1182,123.7713,0,0,0,0,0,11,0,0,...,0,3,0,0,0,NaN,0,0,207,2008800.0
2009-06-04,155.5546,496.0890,0,0,0,0,3,0,0,1,...,0,1,0,0,0,NaN,0,0,51,138788.0
2009-06-05,150.8464,492.0490,0,0,0,2,11,0,0,0,...,0,0,0,0,0,NaN,0,0,56,356302.0
2009-06-06,184.9863,613.1507,0,0,0,3,19,0,0,6,...,0,1,0,0,0,NaN,0,0,10,277904.0
2009-06-07,110.0118,366.0775,0,0,0,1,2,0,0,3,...,1,1,0,0,0,NaN,0,0,87,16226.0
2009-06-08,110.7157,366.5161,0,0,0,9,3,0,0,0,...,0,0,0,0,0,NaN,0,0,66,663256.0
2009-06-09,185.4661,612.9614,0,0,0,9,9,0,0,1,...,0,3,0,1,0,NaN,0,0,10,285904.0
2009-06-10,184.9800,613.0982,0,0,0,6,3,0,0,5,...,0,2,0,0,0,NaN,0,0,97,116919.0
2009-06-11,148.6355,490.3697,0,0,0,2,4,0,0,9,...,0,1,0,0,0,NaN,0,0,20,742984.0
2009-06-12,113.4840,369.9270,0,0,0,2,1,0,0,3,...,0,0,0,0,0,NaN,0,0,5,80048.0
2009-06-14,37.7793,122.8638,0,0,0,0,0,0,0,3,...,0,0,0,0,0,NaN,0,0,2,0.0
2009-06-15,187.4058,613.4336,0,0,0,1,19,0,0,18,...,0,32,0,3,0,NaN,0,0,9,6160.0
2009-06-16,181.5964,608.5196,0,1,0,2,20,0,0,4,...,2,2,0,2,0,NaN,0,0,46,349507.0
2009-06-17,212.0565,727.4382,0,0,0,5,17,0,15,7,...,0,3,0,1,0,NaN,0,0,92,313947.0
2009-06-18,137.2632,480.7868,0,0,0,6,38,0,18,3,...,0,0,0,0,1,NaN,0,0,183,186640.0
2009-06-19,132.3700,474.0812,0,0,0,0,11,0,7,0,...,0,0,0,0,0,NaN,0,0,86,21598.0
2009-06-20,98.6491,353.5151,0,0,0,32,37,0,0,0,...,0,0,0,0,0,NaN,0,0,604,52400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-15,134.8589,480.6537,0,0,0,47,67,0,249,0,...,0,0,0,0,2,0.0,0,2,1260,316388.0
2015-05-16,139.2096,482.9185,0,0,0,207,89,0,319,0,...,0,0,0,0,0,0.0,0,0,119,2749.0
2015-05-17,141.4240,484.8893,2,0,0,602,147,2,2124,0,...,0,0,0,0,0,10.0,0,0,1178,63832.0
2015-05-18,144.5908,487.7235,2,0,0,1721,137,0,279,0,...,0,0,0,0,0,27.0,0,0,12425,15883.0
2015-05-19,147.8501,489.3870,0,0,0,155,70,0,274,9,...,0,0,0,39,0,2.0,0,0,241,508407.0
2015-05-20,187.6111,615.8103,0,0,0,1531,635,0,33,50,...,0,0,0,0,0,5.0,0,0,22671,929469.0
2015-05-21,75.4102,246.1933,0,0,0,201,86,0,9,33,...,0,0,0,0,0,0.0,0,0,187,24993.0
2015-05-23,37.5968,122.8230,0,0,0,3,36,0,9,5,...,0,0,0,35,0,0.0,0,0,177,84.0
2015-05-24,152.4544,492.5780,0,0,0,593,120,0,39,124,...,0,0,0,16,0,0.0,0,0,319,100641.0
2015-05-25,118.1464,372.2526,0,0,0,197,101,0,107,60,...,0,0,0,0,0,3.0,0,0,429,1007838.0
2015-05-26,160.6828,498.3547,0,0,0,676,395,0,23,62,...,0,0,0,0,0,0.0,0,0,772,107132.0
2015-05-27,164.0278,498.2065,0,0,0,94,48,2,2,16,...,0,0,0,24,0,2.0,0,0,15,9076.0
2015-05-28,206.5359,622.4545,0,0,1,186,66,0,78,43,...,0,0,0,12,0,0.0,0,0,32,9130.0
2015-05-29,201.2958,621.7114,1,0,0,459,504,0,75,94,...,0,0,0,4,0,0.0,0,0,185,16442.0
2015-05-30,116.4479,371.6513,0,0,0,22,188,8,160,11,...,0,0,0,1,0,0.0,0,0,96,13133.0
2015-05-31,152.1155,493.4783,0,0,0,1156,1076,0,27,69,...,0,0,0,10,0,2.0,0,0,532,3304.0
2015-06-01,187.2630,614.3023,5,0,0,2381,266,0,68,23,...,0,0,0,60,0,3.0,0,0,1350,44215.0
2015-06-02,147.6791,489.3684,1,0,0,1132,197,0,39,51,...,0,0,0,22,0,0.0,0,0,1499,10961.0
2015-06-03,217.4390,730.0301,3,0,0,42,36,7,243,5,...,0,0,0,6,0,0.0,0,0,63,451208.0
2015-06-04,139.9355,483.8167,0,0,0,63,22,1,69,0,...,0,0,0,0,0,0.0,0,0,142,19323.0
2015-06-05,167.7885,599.4457,3,0,0,52,219,0,248,0,...,0,0,0,0,0,0.0,0,0,538,174013.0
2015-06-06,130.8522,471.9113,0,0,0,28,257,0,1883,0,...,0,0,0,0,0,0.0,0,0,222,35089.0
2015-06-07,99.9035,357.1400,0,0,0,8,9,0,3,0,...,0,0,0,0,2,2.0,0,0,147,45445.0
2015-06-08,135.2803,480.0800,0,0,0,38,51,0,94,0,...,0,0,0,0,0,2.0,0,0,114,4032.0
2015-06-09,139.2067,482.8074,0,0,0,40,90,0,4,0,...,2,0,0,2,0,0.0,0,0,47,218038.0
2015-06-10,178.9331,608.1762,0,0,0,577,210,0,61,4,...,0,0,0,0,0,2.0,0,0,34560,138876.0
2015-06-11,145.7878,489.0168,0,0,0,2743,718,0,891,34,...,0,0,0,0,0,3.0,0,0,1716,40981.0
2015-06-12,147.8602,489.3842,0,0,0,1111,109,0,35,6,...,0,0,0,10,0,4.0,0,0,116,53084.0
2015-06-13,187.6283,615.7807,2,0,0,1191,303,0,83,40,...,2,0,0,5,0,0.0,0,0,1193,74829.0
2015-06-14,75.4165,246.3453,0,0,0,1179,360,0,3,5,...,0,0,0,2,2,6.0,0,0,1518,61167.0

In [23]:
df

,NET_IN_LAT,NET_IN_LONG,HAUL_DATE,WOLF EEL YOY,SABLEFISH YOY,ARROWTOOTH FLOUNDER YOY,PACIFIC SANDDAB YOY,SPECKLED SANDDAB YOY,SCULPIN YOY,NORTHERN ANCHOVY YOY,...,PURPLE-STRIPED JELLY,MOON JELLY,BERRYTEUTHIS,FRIED EGG JELLY,BLOB OCTOPUS,BOREAL CLUBHOOK SQUID,SUNBEAM LAMPFISH,ARGONAUT,TOTAL ROCKFISH YOY,TOTAL KRILL
0,36.8332,121.9688,2009-05-20,0,0,0,0,2,4,0,...,0,0,0,0,0,NaN,0,0,25,8216.0
1,36.7692,121.8478,2009-05-21,0,0,0,2,12,0,0,...,2,0,0,0,0,NaN,0,0,19,5868.0
2,36.5862,122.1643,2009-05-21,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,0,28,53136.0
3,36.5700,122.0258,2009-05-21,0,0,0,0,1,0,0,...,0,0,0,0,0,NaN,0,0,13,5800.0
4,36.6338,122.0372,2009-05-22,0,0,0,0,9,0,0,...,0,1,0,0,0,NaN,0,0,11,11392.0
5,36.6857,122.0940,2009-05-22,0,0,0,2,3,0,0,...,0,0,0,0,0,NaN,0,0,74,32512.0
6,36.9682,122.2860,2009-05-22,0,0,0,1,0,0,0,...,0,1,0,0,0,NaN,0,0,6,1.0
7,36.9795,122.3675,2009-05-22,0,0,0,0,1,0,0,...,0,1,0,0,0,NaN,0,0,8,14592.0
8,36.9768,122.4173,2009-05-23,0,0,0,2,9,0,0,...,0,37,0,0,0,NaN,0,0,8,67200.0
9,36.9730,122.5800,2009-05-23,0,0,0,0,0,0,0,...,0,15,0,0,0,NaN,0,0,11,25344.0
10,36.9658,122.7472,2009-05-23,0,0,0,2,1,0,0,...,3,48,0,0,0,NaN,0,0,30,9664.0
11,37.2632,122.5683,2009-05-23,0,0,0,7,1,0,0,...,0,0,0,0,0,NaN,0,0,0,89.0
12,37.2647,122.6368,2009-05-23,0,0,0,4,1,0,0,...,0,0,0,0,0,NaN,0,0,8,221760.0
13,37.2632,122.8007,2009-05-24,0,0,0,0,0,1,0,...,0,0,0,0,0,NaN,0,0,12,116352.0
14,37.2613,122.9712,2009-05-24,0,0,0,0,2,0,0,...,0,0,0,0,0,NaN,0,0,10,8064.0
15,37.2665,123.1427,2009-05-24,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,0,58,44480.0
16,37.6447,123.2005,2009-05-24,0,0,0,0,3,0,0,...,0,0,1,0,0,NaN,0,0,18,1592.0
17,37.6478,123.0397,2009-05-24,0,0,0,1,1,1,0,...,0,0,0,0,0,NaN,0,0,23,805464.0
18,37.7330,123.1223,2009-05-25,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,0,95,447216.0
19,37.8728,123.3037,2009-05-25,0,0,0,0,0,1,0,...,0,5,0,0,0,NaN,0,0,14,293760.0
20,37.8782,123.4553,2009-05-25,0,0,0,1,0,0,0,...,0,20,0,0,0,NaN,0,0,7,93568.0
21,38.4570,123.6897,2009-05-26,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,0,12,71504.0
22,38.4522,124.0512,2009-05-26,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,0,154,34496.0
23,38.1603,123.3553,2009-05-26,0,0,0,0,3,0,0,...,0,3,0,0,0,NaN,0,0,11,202272.0
24,38.1628,123.1535,2009-05-27,0,0,0,5,3,1,0,...,1,0,0,0,0,NaN,0,0,30,105096.0
25,37.6030,122.8202,2009-05-29,0,0,0,0,3,0,0,...,0,3,0,0,0,NaN,0,0,80,671004.0
26,37.6925,122.9097,2009-05-29,0,0,0,5,6,9,0,...,0,0,0,0,0,NaN,0,0,61,18144.0
27,37.6832,122.9087,2009-05-30,0,0,0,2,11,6,0,...,0,0,0,0,0,NaN,0,0,68,6825.0
28,37.7882,122.8380,2009-05-30,0,0,0,0,0,2,0,...,0,0,0,0,0,NaN,0,0,28,97308.0
29,37.7905,122.8512,2009-05-30,0,0,0,0,4,2,0,...,0,4,0,0,0,NaN,0,0,65,157194.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,33.3902,119.7738,2015-06-07,0,0,0,0,0,0,0,...,0,0,0,0,0,2.0,0,0,0,0.0
795,33.4910,119.6105,2015-06-07,0,0,0,5,3,0,0,...,0,0,0,0,2,0.0,0,0,6,444.0
796,33.5918,119.4562,2015-06-08,0,0,0,6,9,0,5,...,0,0,0,0,0,0.0,0,0,5,444.0
797,33.6967,119.2927,2015-06-08,0,0,0,2,23,0,2,...,0,0,0,0,0,0.0,0,0,9,3276.0
798,33.9220,120.7163,2015-06-08,0,0,0,27,14,0,81,...,0,0,0,0,0,2.0,0,0,97,12.0
799,34.0698,120.6148,2015-06-08,0,0,0,3,5,0,6,...,0,0,0,0,0,0.0,0,0,3,300.0
800,34.1958,120.4823,2015-06-09,0,0,0,11,11,0,2,...,0,0,0,0,0,0.0,0,0,6,217872.0
801,35.0067,120.7338,2015-06-09,0,0,0,0,12,0,0,...,0,0,0,2,0,0.0,0,0,6,78.0
802,35.0027,120.7975,2015-06-09,0,0,0,9,27,0,0,...,2,0,0,0,0,0.0,0,0,21,48.0
803,35.0015,120.7938,2015-06-09,0,0,0,20,40,0,2,...,0,0,0,0,0,0.0,0,0,14,40.0
804,35.0102,120.9823,2015-06-10,0,0,0,89,89,0,9,...,0,0,0,0,0,0.0,0,0,115,2130.0
805,35.0100,121.1222,2015-06-10,0,0,0,174,84,0,39,...,0,0,0,0,0,0.0,0,0,81,810.0
806,36.3027,121.9515,2015-06-10,0,0,0,38,15,0,0,...,0,0,0,0,0,0.0,0,0,83,0.0
807,36.3040,122.0200,2015-06-10,0,0,0,9,3,0,11,...,0,0,0,0,0,0.0,0,0,3321,111384.0
808,36.3062,122.1002,2015-06-10,0,0,0,267,19,0,2,...,0,0,0,0,0,2.0,0,0,30960,24552.0
809,36.3098,122.1975,2015-06-11,0,0,0,143,59,0,9,...,0,0,0,0,0,3.0,0,0,506,37422.0
810,36.3042,122.3060,2015-06-11,0,0,0,689,69,0,0,...,0,0,0,0,0,0.0,0,0,441,2815.0
811,36.5918,122.3408,2015-06-11,0,0,0,483,44,0,0,...,0,0,0,0,0,0.0,0,0,267,330.0
812,36.5820,122.1725,2015-06-11,0,0,0,1428,546,0,882,...,0,0,0,0,0,0.0,0,0,502,414.0
813,36.5928,122.0422,2015-06-12,0,0,0,214,43,0,27,...,0,0,0,0,0,0.0,0,0,30,8465.0
814,36.7093,122.1143,2015-06-12,0,0,0,856,31,0,3,...,0,0,0,0,0,2.0,0,0,43,44268.0
815,37.2788,122.5722,2015-06-12,0,0,0,24,26,0,0,...,0,0,0,5,0,0.0,0,0,15,0.0
816,37.2793,122.6555,2015-06-12,0,0,0,17,9,0,5,...,0,0,0,5,0,2.0,0,0,28,351.0
817,37.2863,122.8253,2015-06-13,0,0,0,310,38,0,11,...,0,0,0,0,0,0.0,0,0,27,7344.0
818,37.2845,122.9857,2015-06-13,0,0,0,345,49,0,67,...,0,0,0,0,0,0.0,0,0,581,1440.0
819,37.2793,123.1397,2015-06-13,0,0,0,51,60,0,5,...,0,0,0,0,0,0.0,0,0,257,66.0
820,37.8930,123.5132,2015-06-13,2,0,0,89,39,0,0,...,0,0,0,0,0,0.0,0,0,208,153.0
821,37.8852,123.3168,2015-06-13,0,0,0,396,117,0,0,...,2,0,0,5,0,0.0,0,0,120,65826.0
822,37.7478,123.1423,2015-06-14,0,0,0,978,99,0,3,...,0,0,0,2,0,0.0,0,0,595,59510.0
823,37.6687,123.2030,2015-06-14,0,0,0,201,261,0,0,...,0,0,0,0,2,6.0,0,0,923,1657.0